.card {
  width: 250px;
  height: 150px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  border-radius: 12px;
  background-color: white;
  margin-right: 20px;
  margin-top: 15px;
  font-size: smaller;
  animation: fadeAnim 0.5s ease-out;
}
.homeLayout {
  /* height: ; */
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}
.profilePic {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.detailProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.headerCard {
  display: flex;
  justify-content: space-between;
}

.homeHeader {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
